@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* background: rgb(162, 142, 233); */
  font-family: Roboto Mono, serif;
  background-image: url("https://source.unsplash.com/1920x1080/?landscape");
}
button {
  margin: 0.5em;
  border-radius: 33px;
  border: none;
  height: 2em;
  width: 2em;
}
.card {
  background: rgb(123, 128, 217);
  opacity: 0.9;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1 em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
